.libs
.deps
.dirstamp
*.o
*.lo
*.la
*.obj
*.vcxproj.user
*.pdb
*.tlog
*.ilk
*.exp
*.exe.manifest
*.dll.manifest
*.vc.db
*.vc.opendb
*.log
*.exe
*.lib
*.dll
*.lastbuildstate
*.iobj
*.idb
*.suo
*.ipdb
*.orig
*.c~
*.h~
stamp-h?
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.lt
config.status
configure
libtool

config/ar-lib
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/libtool.m4
config/ltmain.sh
config/lt*.m4
config/missing
config/test-driver

cray/sma1/align
cray/sma1/all_and_int_ext
cray/sma1/all_max_double_ext
cray/sma1/all_min_double_ext
cray/sma1/all_or_int_ext
cray/sma1/all_prod_double_ext
cray/sma1/all_sum_double_ext
cray/sma1/all_xor_int_ext
cray/sma1/shmalloc_loop
cray/sma1/shmalloc_shrealloc
cray/sma1/shmem_both_put_nb_size
cray/sma1/shmem_broadcast_all
cray/sma1/shmem_finc_cswap
cray/sma1/shmem_finc_fadd
cray/sma1/shmem_finc_only
cray/sma1/shmem_finc_swap
cray/sma1/shmem_global_exit
cray/sma1/shmem_lock_set_clear
cray/sma1/shmem_lock_test_clear
cray/sma1/shmem_long_finc_only
cray/sma1/shmem_long_finc_swap
cray/sma1/shmem_num_get
cray/sma1/shmem_num_put
cray/sma1/shmem_num_put_nb
cray/sma1/shmem_num_put_nb_size
cray/sma1/shmem_num_put_size
cray/sma1/shmem_swap_only
cray/sma1/shmem_type_g
cray/sma1/shmem_type_get
cray/sma1/shmem_type_p
cray/sma1/shmem_type_put
cray/sma1/shmem_type_put_nb
uh/feature_tests/Fortran/transfer/test_shmem_get_03_double
uh/feature_tests/Fortran/transfer/test_shmem_get_03_int4
uh/feature_tests/Fortran/transfer/test_shmem_get_03_logical
uh/feature_tests/Fortran/transfer/test_shmem_get_03_real4
uh/feature_tests/Fortran/transfer/test_shmem_iget_01_double
uh/feature_tests/Fortran/transfer/test_shmem_iget_01_int4
uh/feature_tests/Fortran/transfer/test_shmem_iget_01_logical
uh/feature_tests/Fortran/transfer/test_shmem_iget_01_real4
uh/feature_tests/Fortran/transfer/test_shmem_iget_02_double
uh/feature_tests/Fortran/transfer/test_shmem_iget_02_int4
uh/feature_tests/Fortran/transfer/test_shmem_iget_02_logical
uh/feature_tests/Fortran/transfer/test_shmem_iget_02_real4
uh/feature_tests/Fortran/transfer/test_shmem_iget_03_double
uh/feature_tests/Fortran/transfer/test_shmem_iget_03_int4
uh/feature_tests/Fortran/transfer/test_shmem_iget_03_logical
uh/feature_tests/Fortran/transfer/test_shmem_iget_03_real4
uh/feature_tests/Fortran/transfer/test_shmem_iput_01_double
uh/feature_tests/Fortran/transfer/test_shmem_iput_01_int4
uh/feature_tests/Fortran/transfer/test_shmem_iput_01_logical
uh/feature_tests/Fortran/transfer/test_shmem_iput_01_real4
uh/feature_tests/Fortran/transfer/test_shmem_iput_02_double
uh/feature_tests/Fortran/transfer/test_shmem_iput_02_int4
uh/feature_tests/Fortran/transfer/test_shmem_iput_02_logical
uh/feature_tests/Fortran/transfer/test_shmem_iput_02_real4
uh/feature_tests/Fortran/transfer/test_shmem_iput_03_double
uh/feature_tests/Fortran/transfer/test_shmem_iput_03_int4
uh/feature_tests/Fortran/transfer/test_shmem_iput_03_logical
uh/feature_tests/Fortran/transfer/test_shmem_iput_03_real4
uh/feature_tests/Fortran/transfer/test_shmem_put_01_char
uh/feature_tests/Fortran/transfer/test_shmem_put_01_double
uh/feature_tests/Fortran/transfer/test_shmem_put_01_int4
uh/feature_tests/Fortran/transfer/test_shmem_put_01_logical
uh/feature_tests/Fortran/transfer/test_shmem_put_01_real4
uh/feature_tests/Fortran/transfer/test_shmem_put_02_char
uh/feature_tests/Fortran/transfer/test_shmem_put_02_double
uh/feature_tests/Fortran/transfer/test_shmem_put_02_int4
uh/feature_tests/Fortran/transfer/test_shmem_put_02_logical
uh/feature_tests/Fortran/transfer/test_shmem_put_02_real4
uh/feature_tests/Fortran/transfer/test_shmem_put_03_char
uh/feature_tests/Fortran/transfer/test_shmem_put_03_double
uh/feature_tests/Fortran/transfer/test_shmem_put_03_int4
uh/feature_tests/Fortran/transfer/test_shmem_put_03_logical
uh/feature_tests/Fortran/transfer/test_shmem_put_03_real4
uh/feature_tests/Fortran/collect/test_shmem_collect_04_int4
uh/feature_tests/Fortran/collect/test_shmem_collect_04_int8
uh/feature_tests/Fortran/collect/test_shmem_fcollect_01_int4
uh/feature_tests/Fortran/collect/test_shmem_fcollect_01_int8
uh/feature_tests/Fortran/collect/test_shmem_fcollect_02_int4
uh/feature_tests/Fortran/collect/test_shmem_fcollect_02_int8
uh/feature_tests/Fortran/collect/test_shmem_fcollect_03_int4
uh/feature_tests/Fortran/collect/test_shmem_fcollect_03_int8
uh/feature_tests/Fortran/collect/test_shmem_fcollect_04_int4
uh/feature_tests/Fortran/collect/test_shmem_fcollect_04_int8
uh/feature_tests/Fortran/reductions/test_shmem_and_01_int4
uh/feature_tests/Fortran/reductions/test_shmem_and_01_int8
uh/feature_tests/Fortran/reductions/test_shmem_max_01_int4
uh/feature_tests/Fortran/reductions/test_shmem_max_01_int8
uh/feature_tests/Fortran/reductions/test_shmem_max_01_real4
uh/feature_tests/Fortran/reductions/test_shmem_max_01_real8
uh/feature_tests/Fortran/reductions/test_shmem_min_01_int4
uh/feature_tests/Fortran/reductions/test_shmem_min_01_int8
uh/feature_tests/Fortran/reductions/test_shmem_min_01_real4
uh/feature_tests/Fortran/reductions/test_shmem_min_01_real8
uh/feature_tests/Fortran/reductions/test_shmem_or_01_int4
uh/feature_tests/Fortran/reductions/test_shmem_or_01_int8
uh/feature_tests/Fortran/reductions/test_shmem_prod_01_int4
uh/feature_tests/Fortran/reductions/test_shmem_prod_01_int8
uh/feature_tests/Fortran/reductions/test_shmem_prod_01_real4
uh/feature_tests/Fortran/reductions/test_shmem_prod_01_real8
uh/feature_tests/Fortran/reductions/test_shmem_sum_01_int4
uh/feature_tests/Fortran/reductions/test_shmem_sum_01_int8
uh/feature_tests/Fortran/reductions/test_shmem_sum_01_real4
uh/feature_tests/Fortran/reductions/test_shmem_sum_01_real8
uh/feature_tests/Fortran/reductions/test_shmem_xor_01_int4
uh/feature_tests/Fortran/reductions/test_shmem_xor_01_int8
uh/feature_tests/Fortran/transfer/test_shmem_get_01_char
uh/feature_tests/Fortran/transfer/test_shmem_get_01_double
uh/feature_tests/Fortran/transfer/test_shmem_get_01_int4
uh/feature_tests/Fortran/transfer/test_shmem_get_01_logical
uh/feature_tests/Fortran/transfer/test_shmem_get_01_real4
uh/feature_tests/Fortran/transfer/test_shmem_get_02_char
uh/feature_tests/Fortran/transfer/test_shmem_get_02_double
uh/feature_tests/Fortran/transfer/test_shmem_get_02_int4
uh/feature_tests/Fortran/transfer/test_shmem_get_02_logical
uh/feature_tests/Fortran/transfer/test_shmem_get_02_real4
uh/feature_tests/Fortran/transfer/test_shmem_get_03_char
uh/feature_tests/Fortran/atomic/test_shmem_swap_03_int4
uh/feature_tests/Fortran/atomic/test_shmem_swap_03_int8
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_01_char
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_01_double
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_01_int4
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_01_int8
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_01_logical
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_01_real4
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_01_real8
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_02_char
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_02_double
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_02_int4
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_02_int8
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_02_logical
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_02_real4
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_02_real8
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_03_char
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_03_double
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_03_int4
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_03_int8
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_03_logical
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_03_real4
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_03_real8
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_04_char
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_04_double
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_04_int4
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_04_int8
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_04_logical
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_04_real4
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_04_real8
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_05_char
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_05_double
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_05_int4
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_05_int8
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_05_logical
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_05_real4
uh/feature_tests/Fortran/broadcast/test_shmem_broadcast_05_real8
uh/feature_tests/Fortran/collect/test_shmem_collect_01_int4
uh/feature_tests/Fortran/collect/test_shmem_collect_01_int8
uh/feature_tests/Fortran/collect/test_shmem_collect_02_int4
uh/feature_tests/Fortran/collect/test_shmem_collect_02_int8
uh/feature_tests/Fortran/collect/test_shmem_collect_03_int4
uh/feature_tests/Fortran/collect/test_shmem_collect_03_int8
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_02_double
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_02_int4
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_02_int8
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_02_logical
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_02_real4
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_02_real8
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_03_char
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_03_double
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_03_int4
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_03_int8
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_03_logical
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_03_real4
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_03_real8
uh/feature_tests/Fortran/atomic/test_shmem_add_01_int4
uh/feature_tests/Fortran/atomic/test_shmem_add_01_int8
uh/feature_tests/Fortran/atomic/test_shmem_add_02_int4
uh/feature_tests/Fortran/atomic/test_shmem_add_02_int8
uh/feature_tests/Fortran/atomic/test_shmem_add_03_int4
uh/feature_tests/Fortran/atomic/test_shmem_add_03_int8
uh/feature_tests/Fortran/atomic/test_shmem_cswap_01_int4
uh/feature_tests/Fortran/atomic/test_shmem_cswap_01_int8
uh/feature_tests/Fortran/atomic/test_shmem_cswap_02_int4
uh/feature_tests/Fortran/atomic/test_shmem_cswap_02_int8
uh/feature_tests/Fortran/atomic/test_shmem_cswap_03_int4
uh/feature_tests/Fortran/atomic/test_shmem_cswap_03_int8
uh/feature_tests/Fortran/atomic/test_shmem_fadd_01_int4
uh/feature_tests/Fortran/atomic/test_shmem_fadd_01_int8
uh/feature_tests/Fortran/atomic/test_shmem_finc_01_int4
uh/feature_tests/Fortran/atomic/test_shmem_finc_01_int8
uh/feature_tests/Fortran/atomic/test_shmem_finc_02_int4
uh/feature_tests/Fortran/atomic/test_shmem_finc_02_int8
uh/feature_tests/Fortran/atomic/test_shmem_finc_03_int4
uh/feature_tests/Fortran/atomic/test_shmem_finc_03_int8
uh/feature_tests/Fortran/atomic/test_shmem_inc_01_int4
uh/feature_tests/Fortran/atomic/test_shmem_inc_01_int8
uh/feature_tests/Fortran/atomic/test_shmem_inc_02_int4
uh/feature_tests/Fortran/atomic/test_shmem_inc_02_int8
uh/feature_tests/Fortran/atomic/test_shmem_inc_03_int4
uh/feature_tests/Fortran/atomic/test_shmem_inc_03_int8
uh/feature_tests/Fortran/atomic/test_shmem_swap_01_int4
uh/feature_tests/Fortran/atomic/test_shmem_swap_01_int8
uh/feature_tests/Fortran/atomic/test_shmem_swap_02_int4
uh/feature_tests/Fortran/atomic/test_shmem_swap_02_int8
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_01_char
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_01_double
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_01_int4
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_01_int8
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_01_logical
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_01_real4
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_01_real8
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_02_char
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_02_double
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_02_int4
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_02_int8
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_02_logical
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_02_real4
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_02_real8
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_03_char
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_03_double
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_03_int4
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_03_int8
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_03_logical
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_03_real4
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_03_real8
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_04_char
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_04_double
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_04_int4
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_04_int8
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_04_logical
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_04_real4
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_04_real8
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_05_char
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_05_double
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_05_int4
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_05_int8
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_05_logical
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_05_real4
uh/feature_tests/Fortran/accessibility/test_shmem_acc_mem_05_real8
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_01_char
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_01_double
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_01_int4
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_01_int8
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_01_logical
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_01_real4
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_01_real8
uh/feature_tests/Fortran/alloc/test_shmem_shpalloc_02_char
uh/error_tests/Fortran/transfer/test_shmem_iget_05_double
uh/error_tests/Fortran/transfer/test_shmem_iget_05_int4
uh/error_tests/Fortran/transfer/test_shmem_iget_05_logical
uh/error_tests/Fortran/transfer/test_shmem_iget_05_real4
uh/error_tests/Fortran/transfer/test_shmem_iput_04_double
uh/error_tests/Fortran/transfer/test_shmem_iput_04_int4
uh/error_tests/Fortran/transfer/test_shmem_iput_04_logical
uh/error_tests/Fortran/transfer/test_shmem_iput_04_real4
uh/error_tests/Fortran/transfer/test_shmem_iput_05_double
uh/error_tests/Fortran/transfer/test_shmem_iput_05_int4
uh/error_tests/Fortran/transfer/test_shmem_iput_05_logical
uh/error_tests/Fortran/transfer/test_shmem_iput_05_real4
uh/error_tests/Fortran/transfer/test_shmem_put_04_char
uh/error_tests/Fortran/transfer/test_shmem_put_04_double
uh/error_tests/Fortran/transfer/test_shmem_put_04_int4
uh/error_tests/Fortran/transfer/test_shmem_put_04_logical
uh/error_tests/Fortran/transfer/test_shmem_put_04_real4
uh/error_tests/Fortran/transfer/test_shmem_put_05_char
uh/error_tests/Fortran/transfer/test_shmem_put_05_double
uh/error_tests/Fortran/transfer/test_shmem_put_05_int4
uh/error_tests/Fortran/transfer/test_shmem_put_05_logical
uh/error_tests/Fortran/transfer/test_shmem_put_05_real4
uh/feature_tests/C/test_shmem_accessible
uh/feature_tests/C/test_shmem_atomics
uh/feature_tests/C/test_shmem_barrier
uh/feature_tests/C/test_shmem_broadcast
uh/feature_tests/C/test_shmem_collects
uh/feature_tests/C/test_shmem_finalize
uh/feature_tests/C/test_shmem_get
uh/feature_tests/C/test_shmem_get_globals
uh/feature_tests/C/test_shmem_get_shmem_malloc
uh/feature_tests/C/test_shmem_global_exit
uh/feature_tests/C/test_shmem_lock
uh/feature_tests/C/test_shmem_put
uh/feature_tests/C/test_shmem_put_globals
uh/feature_tests/C/test_shmem_put_shmem_malloc
uh/feature_tests/C/test_shmem_query
uh/feature_tests/C/test_shmem_reduction
uh/feature_tests/C/test_shmem_synchronization
uh/feature_tests/C/test_shmem_zero_get
uh/feature_tests/C/test_shmem_zero_put
uh/feature_tests/Fortran/accessibility/test_shmem_acc_01
uh/feature_tests/Fortran/accessibility/test_shmem_acc_02
uh/error_tests/Fortran/atomic/test_shmem_add_04_int4
uh/error_tests/Fortran/atomic/test_shmem_add_04_int8
uh/error_tests/Fortran/atomic/test_shmem_cswap_04_int4
uh/error_tests/Fortran/atomic/test_shmem_cswap_04_int8
uh/error_tests/Fortran/atomic/test_shmem_finc_04_int4
uh/error_tests/Fortran/atomic/test_shmem_finc_04_int8
uh/error_tests/Fortran/atomic/test_shmem_finc_05_int4
uh/error_tests/Fortran/atomic/test_shmem_finc_05_int8
uh/error_tests/Fortran/atomic/test_shmem_inc_04_int4
uh/error_tests/Fortran/atomic/test_shmem_inc_04_int8
uh/error_tests/Fortran/atomic/test_shmem_inc_05_int4
uh/error_tests/Fortran/atomic/test_shmem_inc_05_int8
uh/error_tests/Fortran/atomic/test_shmem_swap_04_int4
uh/error_tests/Fortran/atomic/test_shmem_swap_04_int8
uh/error_tests/Fortran/atomic/test_shmem_swap_05_int4
uh/error_tests/Fortran/atomic/test_shmem_swap_05_int8
uh/error_tests/Fortran/transfer/test_shmem_get_04_char
uh/error_tests/Fortran/transfer/test_shmem_get_04_double
uh/error_tests/Fortran/transfer/test_shmem_get_04_int4
uh/error_tests/Fortran/transfer/test_shmem_get_04_logical
uh/error_tests/Fortran/transfer/test_shmem_get_04_real4
uh/error_tests/Fortran/transfer/test_shmem_get_05_char
uh/error_tests/Fortran/transfer/test_shmem_get_05_double
uh/error_tests/Fortran/transfer/test_shmem_get_05_int4
uh/error_tests/Fortran/transfer/test_shmem_get_05_logical
uh/error_tests/Fortran/transfer/test_shmem_get_05_real4
uh/error_tests/Fortran/transfer/test_shmem_iget_04_double
uh/error_tests/Fortran/transfer/test_shmem_iget_04_int4
uh/error_tests/Fortran/transfer/test_shmem_iget_04_logical
uh/error_tests/Fortran/transfer/test_shmem_iget_04_real4

.vs
*.trs
*.mod
